<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Edit Product</title>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
	<div class="container mx-auto p-8">
		<h3 class="text-2xl font-bold mb-6">Edit Product</h3>

		<form th:action="@{/product/update/{productId}(productId=${product.productId})}" th:object="${product}" method="post" class="p-6 rounded-lg shadow-md">
			<div class="mb-4">
				<label for="idInput" class="block text-gray-700 font-bold mb-2">ID</label>
				<input disabled th:field="*{productId}" type="text" class="input input-bordered w-full mt-1" id="idInput" placeholder="Enter product ID" />
			</div>
			<div class="mb-4">
				<label for="nameInput" class="block text-gray-700 font-bold mb-2">Name</label>
				<input th:field="*{productName}" type="text" class="input input-bordered w-full mt-1" id="nameInput" placeholder="Enter product's name" />
			</div>
			<div class="mb-4">
				<label for="quantityInput" class="block text-gray-700 font-bold mb-2">Quantity</label>
				<input th:field="*{productQuantity}" type="text" class="input input-bordered w-full mt-1" id="quantityInput" placeholder="Enter product's quantity" />
			</div>
			<button type="submit" class="btn btn-primary mt-4">Update</button>
		</form>
	</div>
</body>
</html>
